{% extends 'base.html' %}
{% load static %}
{#<!DOCTYPE html>#}
{#<html lang="en-us">#}
{#  <head>#}
{#    <meta charset="utf-8">#}
{#    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">#}
{#    <title>Unity WebGL Player | Math Challenge</title>#}
{#    <link rel="shortcut icon" href="{% static '/TemplateData/favicon.ico' %}">#}
{#    <link rel="stylesheet" href="{% static '/TemplateData/style.css' %}">#}
{#    <script src="{%static '/TemplateData/UnityProgress.js' %}"></script>#}
{#    <script src="{% static '/Build/UnityLoader.js' %}"></script>#}
{#    <script>#}
{#      var gameInstance = UnityLoader.instantiate("gameContainer", "{% static '/Build/Build.json'%}", {onProgress: UnityProgress});#}
{#    </script>#}
{#  </head>#}
{#  <body>#}
{#    <div class="webgl-content">#}
{#      <div id="gameContainer" style="width: 480px; height: 800px"></div>#}
{#      <div class="footer">#}
{#        <div class="webgl-logo"></div>#}
{#        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>#}
{#        <div class="title">Math Challenge</div>#}
{#      </div>#}
{#    </div>#}
{#  </body>#}
{#</html>#}

{% block js %}
    <title>Unity WebGL Player | Math Challenge</title>
    <link rel="shortcut icon" href="{% static '/TemplateData/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/TemplateData/style.css' %}">
    <script src="{%static '/TemplateData/UnityProgress.js' %}"></script>
    <script src="{% static '/Build/UnityLoader.js' %}"></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "{% static '/Build/Build.json'%}", {onProgress: UnityProgress});
    </script>

{% endblock %}

{% block content %}
    <div class="webgl-content">
      <div id="gameContainer" style="width: 480px; height: 800px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">Math Challenge</div>
      </div>
    </div>
{% endblock %}