{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            <h1 class="text-center mt-5">Students' Score</h1>
            <table class="table table-striped table-sortable mt-5">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Score</th>
                        <th>MaxScore</th>
                        <th>Play At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for score in scores %}
                        <tr>
                            <td>{{ score.pk }}</td>
                            <td>{{ score.user.username }}</td>
                            <td>{{ score.user.email }}</td>
                            <td>{{ score.score }}</td>
                            <td>{{ score.max_score }}</td>
                            <td>{{ score.created_at|timesince }} ago</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
